---
import "@fontsource/inter/variable.css";
import Header from "~/components/header.astro";
import "~/styles/index.css";

const { generator, site } = Astro;
const image = new URL("social.jpg", site);
const description =
  "Preview comments that run wherever your code is hosted.";
---

<!DOCTYPE html>
<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <meta name="generator" content={generator} />

    <title>Open Previews</title>
    <meta name="description" content={description} />

    <!-- social media -->
    <meta property="og:title" content="Open Previews" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={site} />
    <meta name="twitter:card" content="summary_large_image" />
  </head>
  <body
    class="h-full overflow-x-hidden bg-black text-default text-base selection:bg-secondary selection:text-white"
  >
    <div>
        <div class="prose max-w-4xl mx-auto shadow-xl my-40 text-sm p-20 dark:prose-invert">
            <a href="/" class="text-primary hover:text-secondary">← Back</a>
            <h1>Open Previews</h1>
            <slot />
        </div>
    </div>
  </body>
</html>
